<!-- Carousel -->
<div
  id="carouselExampleCaptions"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" id="carousel-img-1">
    <div class="carousel-item active">
      <img
        src="../assets/images/1a.jpg"
        class="d-block w-100"
        height="500px"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption d-md-block text-info">
          <h1>Welcome to Future Kids</h1>
          <h5>Development With Technology</h5>
          <p>
            <a class="btn btn-lg btn-info" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="carousel-img-2">
      <img
        src="../assets/images/1b.jpg"
        class="d-block w-100"
        height="500px"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption d-md-block text-info">
          <h1>Python from Scratch</h1>
          <h5>Learn Python with fun and ease.</h5>
          <p>
            <a class="btn btn-lg btn-info" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- Main-Content -->

<div class="container-fluid div-1">
  <div class="container my-5">
    <div class="row">
      <h2 id="scratch-heading">Scratch: Coding for All Ages</h2>
      <div class="col-8">
        <p class="para-1">
          Scratch is a visual programming language created by the MIT Media Lab
          in 2007. Its drag-and-drop interface with colorful blocks makes it one
          of the most intuitive programming languages to learn. Unlike
          traditional programming languages like Python where the coder must
          write out the code, Scratch empowers young people and adults alike to
          easily build interactive games and programs by connecting code blocks
          together.
        </p>
        <p class="para-2">
          Scratch is typically recommended for children over the age of 8. For
          kids ages 5-7, ScratchJr is an alternative option with an even simpler
          and more intuitive platform than regular Scratch.
        </p>
      </div>
      <div class="col-4 img-1">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/images/03.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!-- <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a> -->
