@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

#carousel-img-1 img,
#carousel-img-2 img,
#carousel-img-3 img {
  filter: brightness(50%);
}

.div-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #92a8d1;
}

/* .row-2 {
  margin-top: 20px;
  margin-bottom: 20px;
} */

#scratch-heading,
#mit-heading,
#python-heading {
  color: #034f84;
  font-weight: bold;
}

p {
  font-size: x-large;
}

.img-1 img {
  height: 230px;
}

.img-2 img {
  height: 236px;
}

.img-3 img {
  height: 250px;
}

/* media-queries */

/* @mdeia (max-width: 991.98px) {
} */

@media (min-width: 768px) {
  .img-2 {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .img-2 {
    text-align: center;
  }

  p {
    font-size: large;
  }
}

/* media-queries */
