<!-- Carousel -->
<div
  id="carouselExampleCaptions"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" id="carousel-img-1">
    <div class="carousel-item active">
      <img
        src="assets/images/1a.jpg"
        class="d-block w-100"
        height="500px"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption d-md-block text-info">
          <h1>Welcome to Future Kids</h1>
          <h5>Development With Technology</h5>
          <p>
            <a class="btn btn-lg btn-info" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="carousel-img-2">
      <img
        src="assets/images/1b.jpg"
        class="d-block w-100"
        height="500px"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption d-md-block text-info">
          <h1>Learn with Scratch</h1>
          <h5>Coding with fun for All Ages</h5>
          <p>
            <a class="btn btn-lg btn-info" href="#main-container" role="button"
              >Learn more</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="carousel-img-3">
      <img
        src="assets/images/3a.jpg"
        class="d-block w-100"
        height="500px"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption d-md-block text-info">
          <h1>MIT App Inventor</h1>
          <h5>Anyone can build apps with global impact</h5>
          <p>
            <a class="btn btn-lg btn-info" href="#mit-heading" role="button"
              >Learn more</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- Main-Content -->

<div class="container-fluid div-1">
  <div class="container gallery-container">
    <h2 class="text-center" id="gallery">Gallery</h2>
    <h4 class="text-center">Work of our students during workshop</h4>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-12 img-1">
        <img src="assets/gallery/img1.jpeg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-12 img-2">
        <img src="assets/gallery/img2.jpeg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-12 img-3">
        <img src="assets/gallery/img3.jpeg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-12 img-4">
        <img src="assets/gallery/img4.jpeg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-12 img-4">
        <!-- <img src="assets/gallery/img4.jpeg" class="img-thumbnail" alt="" /> -->
      </div>
      <div class="col-lg-4 col-md-6 col-12 img-4">
        <!-- <img src="assets/gallery/img4.jpeg" class="img-thumbnail" alt="" /> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-12">
        <video class="vid-1" controls>
          <source src="assets/gallery/vid1.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <video class="vid-2" controls>
          <source src="assets/gallery/vid2.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <video class="vid-3" controls>
          <source src="assets/gallery/vid3.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <video class="vid-4" controls>
          <source src="assets/gallery/vid4.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-lg-4 col-md-6 col-12"></div>
      <div class="col-lg-4 col-md-6 col-12"></div>
    </div>
  </div>
</div>

<div class="container-fluid div-2" id="main-container">
  <div class="container my-5">
    <div class="row row-1 justify-content-center">
      <h2 id="scratch-heading" class="text-center mb-5">
        Scratch: Coding for All Ages
      </h2>
      <div class="col-lg-8 col-md-10">
        <p class="para-1">
          Scratch is a visual programming language created by the MIT Media Lab
          in 2007. Its drag-and-drop interface with colorful blocks makes it one
          of the most intuitive programming languages to learn. Unlike
          traditional programming languages like Python where the coder must
          write out the code, Scratch empowers young people and adults alike to
          easily build interactive games and programs by connecting code blocks
          together.
        </p>
        <p class="para-2">
          Scratch is typically recommended for children over the age of 8. For
          kids ages 5-7, ScratchJr is an alternative option with an even simpler
          and more intuitive platform than regular Scratch.
        </p>
      </div>
      <div class="col-lg-4 col-md-10 img-1">
        <img
          class="img-fluid img-thumbnail rounded"
          src="assets/images/03.png"
          alt=""
        />
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-7 col-md-10 mt-3">
          <h3>Create stories, games, and animations</h3>
          <h4 class="my-3">Share with others around the world</h4>
          <p>
            With Scratch, you can program your own interactive stories, games,
            and animations — and share your creations with others in the online
            community.
          </p>
          <p>
            Scratch helps young people learn to think creatively, reason
            systematically, and work collaboratively — essential skills for life
            in the 21st century.
          </p>
          <p>
            Scratch is a project of the Lifelong Kindergarten Group at the MIT
            Media Lab. It is provided free of charge.
          </p>
        </div>
        <div class="col-lg-4 col-md-10"></div>
        <div class="col-lg-7 col-md-10">
          <h3 class="my-3">For Parents</h3>
          <p>
            Scratch is a programming language and an online community where
            children can program and share interactive media such as stories,
            games, and animation with people from all over the world. As
            children create with Scratch, they learn to think creatively, work
            collaboratively, and reason systematically. Scratch is designed and
            maintained by the Lifelong Kindergarten group at the MIT Media Lab.
          </p>
        </div>
        <div class="col-lg-4 col-md-10"></div>
      </div>
    </div>

    <hr />

    <div class="row row-2 justify-content-center">
      <h2 id="mit-heading" class="text-center my-5">
        MIT App Inventor: Anyone can build apps with global impact
      </h2>
      <div class="col-lg-8 col-md-10">
        <p class="para-1">
          MIT App Inventor is an intuitive, visual programming environment that
          allows everyone – even children – to build fully functional apps for
          smartphones and tablets. Those new to MIT App Inventor can have a
          simple first app up and running in less than 30 minutes. And what's
          more, our blocks-based tool facilitates the creation of complex,
          high-impact apps in significantly less time than traditional
          programming environments. The MIT App Inventor project seeks to
          democratize software development by empowering all people, especially
          young people, to move from technology consumption to technology
          creation.
        </p>
      </div>
      <div class="col-lg-4 col-md-10 img-2 text-center my-3">
        <img
          class="img-fluid img-thumbnail rounded"
          src="assets/images/mit-app-inventor.png"
          alt=""
        />
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">
          <p>
            Blocks-based coding programs inspire intellectual and creative
            empowerment. MIT App Inventor goes beyond this to provide real
            empowerment for kids to make a difference -- a way to achieve social
            impact of immeasurable value to their communities.
          </p>
          <p>
            With over 400,000 unique monthly active users who come from 195
            countries who have created almost 22 million apps, MIT App Inventor
            is changing the way the world creates apps and the way that kids
            learn about computing.
          </p>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>

    <hr />

    <div class="row row-3 justify-content-center">
      <h2 id="python-heading" class="text-center my-5">
        Python Programming Language
      </h2>
      <div class="col-lg-8 col-md-10">
        <p class="para-1">
          Python is a simple, versatile and a complete programming language. It
          is a great choice for beginners up to professionals.
        </p>
        <p>
          Python is both popular and widely used, as the high rankings in
          surveys like the Tiobe Index and the large number of GitHub projects
          using Python attest. Python runs on every major operating system and
          platform, and most minor ones too. Many major libraries and
          API-powered services have Python bindings or wrappers, letting Python
          interface freely with those services or directly use those libraries.
          <strong
            >Even Google has made Python one of its primary programming
            languages.</strong
          >
        </p>
      </div>
      <div class="col-lg-4 col-md-10 img-3 text-center my-3">
        <img
          class="img-fluid img-thumbnail rounded"
          src="assets/images/python.png"
          alt=""
        />
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">
          <h3>Why Pyhton?</h3>
          <ul>
            <li class="pythonPros">
              <h4>Easy to Read, Learn and Write</h4>
              <p>
                Python is a high-level programming language that has
                English-like syntax. This makes it easier to read and understand
                the code. Python is really easy to pick up and learn, that is
                why a lot of people recommend Python to beginners. You need less
                lines of code to perform the same task as compared to other
                major languages like C/C++ and Java.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Improved Productivity</h4>
              <p>
                Python is a very productive language. Due to the simplicity of
                Python, developers can focus on solving the problem. They don’t
                need to spend too much time in understanding the syntax or
                behaviour of the programming language. You write less code and
                get more things done.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Interpreted Language</h4>
              <p>
                Python is an interpreted language which means that Python
                directly executes the code line by line. In case of any error,
                it stops further execution and reports back the error which has
                occurred. Python shows only one error even if the program has
                multiple errors. This makes debugging easier.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Dynamically Typed</h4>
              <p>
                Python doesn’t know the type of variable until we run the code.
                It automatically assigns the data type during execution. The
                programmer doesn’t need to worry about declaring variables and
                their data types.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Free and Open-Source</h4>
              <p>
                Python comes under the OSI approved open-source license. This
                makes it free to use and distribute. You can download the source
                code, modify it and even distribute your version of Python. This
                is useful for organizations that want to modify some specific
                behaviour and use their version for development.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Vast Libraries Support</h4>
              <p>
                The standard library of Python is huge, you can find almost all
                the functions needed for your task. So, you don’t have to depend
                on external libraries. But even if you do, a Python package
                manager (pip) makes things easier to import other great packages
                from the Python package index (PyPi). It consists of over
                200,000 packages.
              </p>
            </li>
            <li class="pythonPros">
              <h4>Portability</h4>
              <p>
                In many languages like C/C++, you need to change your code to
                run the program on different platforms. That is not the same
                with Python. You only write once and run it anywhere. However,
                you should be careful not to include any system-dependent
                features.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</div>

<!-- <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a> -->
