@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.navbar-brand {
  font-size: xxx-large;
  font-family: 'Langar', cursive;
  color: rgb(21, 100, 100);
}

.navbar-brand:hover {
  color: rgb(16, 90, 90);
}

.nav-item .nav-link {
  padding: 0 15px;
  color: seagreen;
  font-size: large;
  font-weight: 700;
}

.nav-item .nav-link:hover {
  color: rgb(60, 150, 100);
}



/* media-queries */

/* @media (max-width: 767px) {

} */